
/* step1css */
*,
::after,
::before {
  box-sizing: border-box
}

html {
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%
}

body {
  margin: 0
}

body {
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji'
}

hr {
  height: 0;
  color: inherit
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted
}

b,
strong {
  font-weight: bolder
}

code,
kbd,
pre,
samp {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  font-size: 1em
}

small {
  font-size: 80%
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}

sub {
  bottom: -.25em
}

sup {
  top: -.5em
}

table {
  text-indent: 0;
  border-color: inherit
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0
}

button,
select {
  text-transform: none
}

[type=button],
button {
  -webkit-appearance: button
}

legend {
  padding: 0
}

progress {
  vertical-align: baseline
}

summary {
  display: list-item
}

blockquote,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
pre {
  margin: 0
}

button {
  background-color: transparent;
  background-image: none
}

fieldset {
  margin: 0;
  padding: 0
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0
}

html {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  line-height: 1.5
}

body {
  font-family: inherit;
  line-height: inherit
}

*,
::after,
::before {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: currentColor
}

hr {
  border-top-width: 1px
}

img {
  border-style: solid
}

textarea {
  resize: vertical
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  opacity: 1;
  color: #9ca3af
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  opacity: 1;
  color: #9ca3af
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  color: #9ca3af
}

button {
  cursor: pointer
}

table {
  border-collapse: collapse
}


a {
  color: inherit;
  text-decoration: inherit
}

button,
input,
optgroup,
select,
textarea {
  padding: 0;
  line-height: inherit;
  color: inherit
}

code,
kbd,
pre,
samp {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace
}

audio,
canvas,
embed,
iframe,
img,
object,
svg,
video {
  display: block;
  vertical-align: middle
}

img,
video {
  max-width: 100%;
  height: auto
}

*,
::after,
::before {
  --tw-border-opacity: 1;
  border-color: rgba(229, 231, 235, var(--tw-border-opacity))
}

.container {
  width: 100%
}

@media (min-width:640px) {
  .container {
    max-width: 640px
  }
}

@media (min-width:768px) {
  .container {
    max-width: 768px
  }
}

@media (min-width:1024px) {
  .container {
    max-width: 1024px
  }
}

@media (min-width:1280px) {
  .container {
    max-width: 1280px
  }
}

@media (min-width:1536px) {
  .container {
    max-width: 1536px
  }
}

.visible {
  visibility: visible
}

.invisible {
  visibility: hidden
}

.fixed {
  position: fixed
}

.absolute {
  position: absolute
}

.relative {
  position: relative
}

.inset-0 {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0
}

.top-0 {
  top: 0
}

.right-20 {
  right: 5rem
}

.bottom-0 {
  bottom: 0
}

.bottom-1\/2 {
  bottom: 50%
}

.left-0 {
  left: 0
}

.left-20 {
  left: 5rem
}

.left-1\/2 {
  left: 50%
}

.z-10 {
  z-index: 10
}

.z-20 {
  z-index: 20
}

.z-50 {
  z-index: 50
}

.m-auto {
  margin: auto
}

.mx-auto {
  margin-left: auto;
  margin-right: auto
}

.my-52 {
  margin-top: 13rem;
  margin-bottom: 13rem
}

.mt-3 {
  margin-top: .75rem
}

.mt-5 {
  margin-top: 1.25rem
}

.mt-10 {
  margin-top: 2.5rem
}

.mt-20 {
  margin-top: 5rem
}

.mt-36 {
  margin-top: 9rem
}

.mb-4 {
  margin-bottom: 1rem
}

.ml-8 {
  margin-left: 2rem
}

.flex {
  display: flex
}

.table {
  display: table
}

.h-full {
  height: 100%
}

.h-screen {
  height: 100vh
}

.min-h-screen {
  min-height: 100vh
}

.w-1\/2 {
  width: 50%
}

.w-full {
  width: 100%
}

.transform {
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.-translate-x-1\/2 {
  --tw-translate-x: -50%
}

.translate-y-1\/2 {
  --tw-translate-y: 50%
}

.translate-y-1\/3 {
  --tw-translate-y: 33.333333%
}

.translate-y-full {
  --tw-translate-y: 100%
}

@-webkit-keyframes spin {
  to {
    transform: rotate(360deg)
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg)
  }
}

@-webkit-keyframes ping {

  100%,
  75% {
    transform: scale(2);
    opacity: 0
  }
}

@keyframes ping {

  100%,
  75% {
    transform: scale(2);
    opacity: 0
  }
}

@-webkit-keyframes pulse {
  50% {
    opacity: .5
  }
}

@keyframes pulse {
  50% {
    opacity: .5
  }
}

@-webkit-keyframes bounce {

  0%,
  100% {
    transform: translateY(-25%);
    -webkit-animation-timing-function: cubic-bezier(.8, 0, 1, 1);
    animation-timing-function: cubic-bezier(.8, 0, 1, 1)
  }

  50% {
    transform: none;
    -webkit-animation-timing-function: cubic-bezier(0, 0, .2, 1);
    animation-timing-function: cubic-bezier(0, 0, .2, 1)
  }
}

@keyframes bounce {

  0%,
  100% {
    transform: translateY(-25%);
    -webkit-animation-timing-function: cubic-bezier(.8, 0, 1, 1);
    animation-timing-function: cubic-bezier(.8, 0, 1, 1)
  }

  50% {
    transform: none;
    -webkit-animation-timing-function: cubic-bezier(0, 0, .2, 1);
    animation-timing-function: cubic-bezier(0, 0, .2, 1)
  }
}

.cursor-pointer {
  cursor: pointer
}

.flex-col {
  flex-direction: column
}

.flex-wrap {
  flex-wrap: wrap
}

.items-center {
  align-items: center
}

.justify-start {
  justify-content: flex-start
}

.justify-end {
  justify-content: flex-end
}

.justify-center {
  justify-content: center
}

.justify-between {
  justify-content: space-between
}

.justify-items-center {
  justify-items: center
}

.rounded-md {
  border-radius: .375rem
}

.rounded-t-md {
  border-top-left-radius: .375rem;
  border-top-right-radius: .375rem
}

.border {
  border-width: 1px
}

.bg-black {
  --tw-bg-opacity: 1;
  background-color: rgba(0, 0, 0, var(--tw-bg-opacity))
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity))
}

.bg-gray-600 {
  --tw-bg-opacity: 1;
  background-color: rgba(75, 85, 99, var(--tw-bg-opacity))
}

.bg-opacity-50 {
  --tw-bg-opacity: 0.5
}

.p-4 {
  padding: 1rem
}

.p-5 {
  padding: 1.25rem
}

.p-10 {
  padding: 2.5rem
}

.px-3 {
  padding-left: .75rem;
  padding-right: .75rem
}

.px-10 {
  padding-left: 2.5rem;
  padding-right: 2.5rem
}

.px-20 {
  padding-left: 5rem;
  padding-right: 5rem
}

.py-2 {
  padding-top: .5rem;
  padding-bottom: .5rem
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem
}

.py-10 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem
}

.py-12 {
  padding-top: 3rem;
  padding-bottom: 3rem
}

.py-16 {
  padding-top: 4rem;
  padding-bottom: 4rem
}

.py-36 {
  padding-top: 9rem;
  padding-bottom: 9rem
}

.pt-2 {
  padding-top: .5rem
}

.pt-3 {
  padding-top: .75rem
}

.pr-8 {
  padding-right: 2rem
}

.pr-10 {
  padding-right: 2.5rem
}

.pr-20 {
  padding-right: 5rem
}

.pb-1 {
  padding-bottom: .25rem
}

.pb-10 {
  padding-bottom: 2.5rem
}

.pb-20 {
  padding-bottom: 5rem
}

.pl-10 {
  padding-left: 2.5rem
}

.pl-16 {
  padding-left: 4rem
}

.pl-20 {
  padding-left: 5rem
}

.text-left {
  text-align: left
}

.text-center {
  text-align: center
}

.text-justify {
  text-align: justify
}

.text-sm {
  font-size: .875rem;
  line-height: 1.25rem
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem
}

.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem
}

.font-bold {
  font-weight: 700
}

.font-black {
  font-weight: 900
}

.text-white {
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity))
}

.text-gray-200 {
  --tw-text-opacity: 1;
  color: rgba(229, 231, 235, var(--tw-text-opacity))
}

.opacity-0 {
  opacity: 0
}

.opacity-70 {
  opacity: .7
}

.opacity-80 {
  opacity: .8
}

*,
::after,
::before {
  --tw-shadow: 0 0 #0000
}

.shadow {
  --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

*,
::after,
::before {
  --tw-ring-inset: var(--tw-empty, );
  /*!*/
  /*!*/
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59, 130, 246, 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000
}

.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-duration: 150ms
}

.transition {
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-duration: 150ms
}

.duration-150 {
  transition-duration: 150ms
}

.duration-200 {
  transition-duration: .2s
}

.duration-300 {
  transition-duration: .3s
}

.ease-in-out {
  transition-timing-function: cubic-bezier(.4, 0, .2, 1)
}

@media (min-width:1024px) {
  .lg\:container {
    width: 100%
  }

  @media (min-width:640px) {
    .lg\:container {
      max-width: 640px
    }
  }

  @media (min-width:768px) {
    .lg\:container {
      max-width: 768px
    }
  }

  @media (min-width:1024px) {
    .lg\:container {
      max-width: 1024px
    }
  }

  @media (min-width:1280px) {
    .lg\:container {
      max-width: 1280px
    }
  }

  @media (min-width:1536px) {
    .lg\:container {
      max-width: 1536px
    }
  }
}

.nuxt-progress {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 2px;
  width: 0;
  opacity: 1;
  transition: width .1s, opacity .4s;
  background-color: #000;
  z-index: 999999
}

.nuxt-progress.nuxt-progress-notransition {
  transition: none
}

.nuxt-progress-failed {
  background-color: red
}

html {
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box
}

*,
:after,
:before {
  box-sizing: border-box;
  margin: 0
}

.button--green {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #3b8070;
  color: #3b8070;
  text-decoration: none;
  padding: 10px 30px;
  transition: 1s;
  cursor: pointer
}

.button--green:hover {
  color: #fff;
  background-color: #3b8070
}

.button--grey {
  display: inline-block;
  border-radius: 4px;
  text-decoration: none;
  padding: 10px 15px;
  margin-left: 5px;
  transition: .5s;
  cursor: pointer
}

.button--grey:hover {
  color: #fff;
  background-color: #35495e
}

a.nuxt-link-exact-active[data-v-aeb99aac] {
  background: grey
}

.top {
  height: 76px
}

.title {
  font-family: Quicksand, "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px
}

.bounce {
  -webkit-animation: bounce 1s infinite alternate;
  animation: bounce 1s infinite alternate
}

.videof {
  height: 100%;
  width: 100%
}

@-webkit-keyframes bounce {
  0% {
    transform: scale(1)
  }

  to {
    transform: scale(1.4)
  }
}

@keyframes bounce {
  0% {
    transform: scale(1)
  }

  to {
    transform: scale(1.4)
  }
}

.bg {
  position: relative;
  z-index: 1
}

.desc {
  max-width: 500px
}

.bg {
  position: relative;
  z-index: 1
}

.desc {
  max-width: 500px
}

.words[data-v-3a7984ec] {
  max-width: 500px
}

/* ^^step1css^^ */

html {
  scroll-behavior: smooth;
}

.navbar-color {
  background-color: bisque;
}

.bg-color {
  background-color: wheat;
}

.footer-color {
  background-color: rgb(179, 162, 131);
}

.card-color {
  background-color: rgba(163, 141, 99, 0.733);
}

.video-fluid {
  width: 100%;
  height: auto;
}

#parallax {
  width: 100%;
  height: 500px;
  background-attachment: fixed;
  background-image: url(https://oshiete.xgoo.jp/_/tw/bucket/channel/images/article_main/b/28_589c2a6961720/L.jpg);
}
